* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100vw;
}

/* all flex containers */
body,
header,
nav,
.nav-link-container,
.content-head,
.content-head-intro,
.info,
.info-slide,
.info-card,
cite {
    display: flex;
}

/* all justify-content:space-between */
body,
nav {
    justify-content: space-between;
}

/* white font */
header,
.nav-link-container a,
footer,
.logotype,
button {
    color: #f9faf8;
}

/* bolder text */
button,
.logotype,
.content-head-intro h2,
.info-header {
    font-weight: bolder;
}

/* flex direction column */
body,
header,
.content-head-intro,
.info,
.info-card {
    flex-direction: column;
}

header img {
    width: 25rem;
    height: auto;
}

.logotype {
    padding-left: 1rem;
    font-size: 1.5rem;
}

header,
footer {
    padding: 1rem;
    background: #1f2937;
}

nav {
    align-items: center;
    justify-content: space-around;
}

/* delete dots from list items */
.nav-link-container,
.info-slide li {
    list-style-type: none;
}

.nav-link-container {
    flex: 0 1 auto;
    gap: 1rem;
    a {
        text-decoration: none;
    }
}

.content-head {
    padding-top: 1rem;
    justify-content: center;
    padding: 2rem 200px;
    gap: 1rem;
}

.content-head-intro {
    align-items: start;
    gap: 1rem;
    text-wrap: balance;
}

.content-head-intro h2 {
    font-size: 3rem;
}

button {
    padding: 0.3rem 1.5rem;
    background: #3882f6;
    border: none;
    border-radius: 0.3rem;
}

.info {
    align-items: center;
    padding: 4rem;
}

.info-slide {
    padding-top: 1rem;
    align-items: center;
    justify-content: space-around;
}

.info-card-pic {
    width: 9.375rem;
    height: 9.375rem;
    border: #3882f6 0.1875rem solid;
    border-radius: 0.375rem;
    padding: 0.5rem;
}

.info-card {
    align-items: center;
    width: 11rem;
    gap: 1rem;
    text-align: center;
    text-wrap: pretty;
    padding: 0 1rem;
}

.info-card h3 {
    font-size: 1rem;
    color: #1f2937;
}

.info h1 {
    font-size: 2rem;
    color: #1f2937;
}

.info-card span {
    font-weight: light;
}

cite {
    background: #e5e7eb;
    padding: 5rem;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}

.author-name {
    font-weight: bold;
    padding-left: 10rem;
}
